#!/usr/bin/env bash

install_cmake () (
    set -euxo pipefail
    command -v sudo > /dev/null 2>&1 || { apt update && apt install --no-install-recommends -y sudo; }

    # Install required packages in order to download and install the new repo.
    sudo apt-get update
    sudo apt-get install -y ca-certificates curl gpg

    # Download and install the key
    curl -sSfL {{ scripts_cmake_apt_key_url }} | gpg --dearmor - \
    | sudo tee {{ scripts_cmake_apt_keyring }}  >/dev/null

    # Add the repository
    source /etc/os-release
    echo '{{ scripts_cmake_apt_repository }}' | sudo tee {{ scripts_cmake_apt_list }} >/dev/null
    sudo apt-get update

    # Install the kitware-archive-keyring package to ensure that your keyring stays up to date as they rotate keys:
    sudo rm {{ scripts_cmake_apt_keyring }}
    sudo apt-get install -y kitware-archive-keyring

    # Finally, install CMake : )
    sudo apt-get install -y cmake
)

install_cmake
