#!/usr/bin/env bash

install_eigen () (
  set -euxo pipefail
  command -v sudo > /dev/null 2>&1 || { apt update && apt install --no-install-recommends -y sudo; }

  # Nothing fancy this year
  sudo apt update && sudo apt install -y \
    libblas-dev \
    liblapack-dev \
    libeigen3-dev
)

install_eigen
