#!/usr/bin/env bash

install_geographiclib () (
  set -euxo pipefail
  command -v sudo > /dev/null 2>&1 || { apt update && apt install --no-install-recommends -y sudo; }

  # Nothing fancy this year
  sudo apt update && sudo apt install -y \
    libgeographic-dev \
    geographiclib-tools
)

install_geographiclib
