#!/usr/bin/env bash
# https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_linux.md

install_realsense () (
    set -euxo pipefail

    # Assumes the base docker image already contains realsense
    if [[ -f /.dockerenv ]]; then
      return
    fi

    command -v sudo > /dev/null 2>&1 || { apt update && apt install --no-install-recommends -y sudo; }

    # Install required packages in order to download and install the new repo.
    sudo apt-get update
    sudo apt-get install -y curl gpg apt-transport-https

    # Download and install the key
    local key_url="https://librealsense.intel.com/Debian/librealsense.pgp"
    local key_file="/etc/apt/keyrings/librealsense.pgp"
    curl -sL "${key_url}" | sudo tee "${key_file}" > /dev/null

    # Add the repository
    source /etc/os-release
    echo "deb [signed-by=${key_file}] https://librealsense.intel.com/Debian/apt-repo ${UBUNTU_CODENAME} main" \
    | sudo tee /etc/apt/sources.list.d/librealsense.list
    sudo apt-get update

    # Install the libraries
    sudo apt-get install -y librealsense2-{dkms,utils}
    sudo apt-get install -y librealsense2-{dev,dbg}
)

install_realsense
