#!/usr/bin/env bash

install_sophus () (
  set -euxo pipefail
  command -v sudo > /dev/null 2>&1 || { apt update && apt install --no-install-recommends -y sudo; }

  sudo apt update && sudo apt install -y \
    build-essential \
    git \
    cmake \
    libfmt-dev  
  
  sudo apt install -qqy jq
  local latest=$(curl -sSf https://api.github.com/repos/strasdat/Sophus/releases/latest | jq -r '.tag_name')
  local tag="${sophus_VERSION:-${latest}}"

  url=https://github.com/strasdat/Sophus/archive/refs/tags/${tag}.tar.gz
  curl -fsSL "${url}" | tar -zx
  cmake -S ./Sophus-${tag} -B ./Sophus-${tag}/build \
    -DCMAKE_BUILD_TYPE=Release \
    -DBUILD_SOPHUS_EXAMPLES=OFF \
    -DBUILD_SOPHUS_TESTS=OFF
  cmake --build Sophus-${tag}/build
  sudo cmake --build Sophus-${tag}/build --target install

  rm -rf Sophus* ~/.cmake/packages/Sophus

)

install_sophus
